DEVICE_ID="meteostation-node-01"
SECRET_TOKEN="8d2d8a4e8f4a3d31e0b7d8b91f7b0b9e4d2d7c9f2b5a1e6d"
MQTT_BROKER_PORT="1883"
DELETE_ALL_BUFFERED_RECORDS="true"
POST_API_URL="https://localhost:3000/api"