DEVICE_ID="meteostation-node-01"
SECRET_TOKEN="70d710ce20fd201529151fbc89af62f9b10298f977b77a5ad50e8e33ae4be846"
MQTT_BROKER_PORT="1883"
DELETE_ALL_BUFFERED_RECORDS="true"
POST_API_BASE_URL="http://localhost:3000/collect/data"